<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Calzado_Ulacit.Properties.Settings.UlacitShoesConnectionString"
            connectionString="Data Source=Aziel;Initial Catalog=UlacitShoes;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>